[account.user_profile_name]
username = "chris@example.com"
password = "yolo"
host = "outlook.office365.com"
port = 993

[account.another_profile_name]
username = "chris@other-example.com"
password = "yolo"
host = "imap.gmail.com"
port = 993
